version: '3.7'
services:
  postgres:
    ports:
      - '5433:5432'
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=password
    image: postgres:18.1
    volumes:
      - url_pet_data_db:/var/lib/postgresql/data
volumes:
  url_pet_data_db:
    driver: 'local'
