version: 2.1

orbs:
  node: circleci/node@7.2.1
  cypress: cypress-io/cypress@5.0.1

jobs:
  build:
    executor:
      name: node/default
      tag: '20.19.0'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: npm run build:client
          name: Build client

  unit-tests:
    executor:
      name: node/default
      tag: '20.19.0'
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn
      - run:
          command: npm run test:server:ci
          name: Unit tests

workflows:
  build_and_test:
    jobs:
      - build
      - unit-tests
      - cypress/run:
          name: e2e-tests
          package-manager: yarn
          cypress-command: npx wait-on@latest http://localhost:8081 && npx cypress run --record
          start-command: npm run build:client && npm run start:server:test
