.input-field {
  border: 1px solid lightgrey;
  -webkit-appearance: textfield;
  width: 100%;
  padding: 0 10px 0;
  line-height: 60px;
  outline: none;
}

.input-field:focus {
  border-color: grey;
}
