th {
  text-align: left;
}
td {
  padding: 10px 10px 10px 0;
}

a {
  color: var(--secondary-color);
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.center {
  text-align: center;
}
