*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --transition_time: 0.2s;
  --transition_effect: linear;
}

html[data-theme='light'] {
  box-sizing: border-box;
  --background-body: #fefcfb;
  --primary-color: #001f54;
  --secondary-color: #166088;
  --third-color: #001f54;
}
html,
html[data-theme='dark'] {
  --background-body: #001f54;
  --primary-color: #4a6fa5;
  --secondary-color: #859ab9;
  --third-color: #fefcfb;
}

@media (prefers-color-scheme: dark) {
  html {
    --background-body: #001f54;
    --primary-color: #4a6fa5;
    --secondary-color: #859ab9;
    --third-color: #fefcfb;
  }
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: var(--background-body);
  transition: var(--transition_effect) background-color var(--transition_time),
    var(--transition_effect) color var(--transition_time);
}

label,
input,
button,
select {
  color: green;
  color: var(--primary-color);
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
button:focus {
  outline: none;
}
