:root {
  --background-body: #fefcfb;
  --primary-color: #001f54;
  --secondary-color: #166088;
  --third-color: #001f54;
}

.dark {
  --background-body: #001f54;
  --primary-color: #4a6fa5;
  --secondary-color: #859ab9;
  --third-color: #fefcfb;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: grid;
  height: 100vh;
  margin: 0;
  place-items: center center;
  font-size: 62.5%;
  font-family: sans-serif;
  background-color: var(--background-body);
}

label,
input,
button,
select {
  color: var(--primary-color);
  font-size: 1rem;
  margin: 0 0 1rem 0;
}
